<div class="w-full h-[85vh] flex justify-center items-center">
  <div
    class="bg-[#FFFFFF] p-12 rounded-[1.25rem] flex justify-center items-center flex-col gap-8"
    *ngIf="confirmPage"
  >
    <div class="text-center p-5 rounded-[6.25rem] text-[#FFFFFF] bg-[#FF5E6D]">
      <p>Clave dinamica:</p>
      <p>{{ dinamicKey }}</p>
      <p>Su clave expira en: {{ timing }} segundos</p>
    </div>
    <p>Valor a retirar: {{ _money }}</p>
    <input
      type="number"
      placeholder="Ingrese la clave dinamica"
      class="p-2 border-b-2 focus:outline-none"
      [(ngModel)]="inputKey"
    />
    <div class="flex gap-10">
      <button
        class="border border-[#022a9b] text-center text-2xl text-[#022a9b] rounded-md p-2"
        (click)="close()"
      >
        Cancelar
      </button>
      <button
        (click)="confirmPayment()"
        class="bg-[#022a9b] text-center text-2xl font-bold text-[#FFFFFF] rounded-md p-2"
      >
        Confirmar
      </button>
    </div>
  </div>
  <app-receipt-page
    class="absolute inset-0 bg-[#022a9b] bg-opacity-50 backdrop-blur-lg z-20"
    *ngIf="receiptPage"
  />
</div>
