<div class="w-full h-[85vh] flex justify-center items-center">
  <div
    class="w-[400px] h-[280px] bg-[#FFFFFF] p-8 rounded-[20px] flex justify-center items-center flex-col gap-10"
  >
    <div class="text-center">
      <p>Clave dinamica:</p>
      <p>65321</p>
    </div>
    <input type="number" placeholder="Ingrese la clave dinamica" />
    <div class="flex gap-10">
      <button
        class="border border-red-700 text-center text-2xl font-bold text-red-700 rounded-md h-[3.125rem] w-[8.125rem]"
        (click)="close()"
      >
        Cancelar
      </button>
      <button
        class="bg-green-700 text-center text-2xl font-bold text-[#fff] rounded-md h-[3.125rem] w-[8.125rem]"
      >
        Confirmar
      </button>
    </div>
  </div>
</div>
