<!-- Vista de loggin -->
<body class="flex flex-col justify-center items-center h-[90vh] p-2">
  <div class="flex flex-col justify-center items-center" *ngIf="login">
    <div class="mb-10">
      <img
        class="w-[20.75rem] h-[19.75rem] absolute -z-10"
        src="../assets/LogoInicioFondo.png"
        alt="ImagenDeInicioFondo"
      />
      <img
        class="w-[20.75rem] h-[20.75rem] z-10 relative"
        src="../assets/LogoInicio.png"
        alt="ImagenDeInicio"
      />
    </div>

    <input
      [(ngModel)] = "phoneNumber"
      id="phoneNumber"
      name="phoneNumber"
      type="number"
      placeholder="Telefono"
      class="border-b-2 border-gray-400 placeholder:text-[#000] text-xl p-2 focus:outline-none w-[18.75rem]"
    />

    <input
      [(ngModel)] = "password"
      id="password"
      name="password"
      type="number"
      placeholder="Clave"
      class="border-b-2 border-gray-400 placeholder:text-[#000] text-xl p-2 mt-5 focus:outline-none w-[18.75rem]"
    />

    <button
      (click)="loggin()"
      class="bg-[#022a9b] text-white font-bold text-lg p-3 mt-14 w-[18.75rem] border rounded-3xl"
    >
      Ingresar
    </button>
  </div>

  <app-dashboard-page *ngIf="dashboard"/>
</body>
