<body class="flex flex-col justify-center items-center h-[90vh] p-2">
  <!-- Vista de inicio -->
  <div *ngIf="home" class="flex flex-col justify-center items-center">
    <div>
      <img
        class="w-[20.75rem] h-[19.75rem] absolute -z-10"
        src="../assets/LogoInicioFondo.png"
        alt="ImagenDeInicioFondo"
      />
      <img
        class="w-[20.75rem] h-[20.75rem] z-10 relative"
        src="../assets/LogoInicio.png"
        alt="ImagenDeInicio"
      />
    </div>

    <p class="text-[#000] text-2xl mt-10">Lo hacemos fácil para ti.</p>
    <p class="text-[#000] text-2xl text-center">
      Tu dinero y movimientos seguros con tu cuenta
      <span class="text-[#022a9b] font-bold">FinanceFlow</span>
    </p>
    <button
      (click)="access(true)"
      class="bg-[#022a9b] text-white font-bold text-lg p-3 mt-12 w-[18.75rem] border rounded-3xl"
    >
      Acceder
    </button>
  </div>

  <!-- Vista de loggin -->
  <div *ngIf="loginAcess" class="flex flex-col justify-center items-center">
    <img
      class="w-[18.75rem] h-[18.75rem] z-10 relative mb-[3rem]"
      src="../assets/logocarter.png"
      alt="ImagenDeLoco"
    />

    <input
      [(ngModel)]="user"
      id="user"
      name="user"
      type="text"
      placeholder="Usuario"
      class="border-b-2 border-gray-400 placeholder:text-[#000] text-xl p-2"
    />

    <input
      [(ngModel)]="password"
      id="password"
      name="password"
      type="tel"
      placeholder="Clave"
      class="border-b-2 border-gray-400 placeholder:text-[#000] text-xl p-2 mt-5"
    />

    <button
      (click)="login()"
      class="bg-[#022a9b] text-white font-bold text-lg p-3 mt-14 w-[18.75rem] border rounded-3xl"
    >
      Ingresar
    </button>
  </div>

  <!-- Vista de aplicativo -->
  <div *ngIf="dashboard">
    <p>Bienvenido Kadir</p>
    <p>Saldo de la cuenta</p>
    <p>$ {{ balance }}</p>
    <p class="font-bold">Transacciones principales</p>

    <button
      class="bg-green-600 text-center text-lg text-white rounded-md w-[6.25rem] h-[4.5rem]"
      (click)="pay()"
    >
      <img
        src="../assets/payments_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg"
        alt="paymentsIcon"
        class="ml-10"
      />Abonar
    </button>
    <button
      class="bg-red-700 text-center text-lg text-white rounded-md w-[6.25rem] h-[4.5rem]"
      (click)="remove()"
    >
      <img
        src="../assets/payments_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg"
        alt="paymentsIcon"
        class="ml-10"
      />Retirar
    </button>

    <input type="number" placeholder="Ingrese el saldo" [(ngModel)]="value">
  </div>
</body>

<!--  -->
