.hexagon {
  color: #ffffff;
  width: 23.75rem;
  /* Ancho de la figura */
  height: 12.5rem;
  /* Altura de la figura */
  background-color: #FF5E6D;
  /* Color de fondo */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3.125rem;
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.linea {
  border-bottom: 3px solid #7e93c6;
  width: 90%;
  border-radius: 1.25rem;
}
