<!-- Vista de aplicativo -->
<body class="flex justify-center items-center h-[90vh] p-2">
  <div class="flex justify-center items-center flex-col">
    <div class="hexagon"></div>
    <p>Bienvenido Kadir</p>
    <p>Saldo de la cuenta</p>
    <p>$ 0,00</p>

    <p class="font-bold">Transacciones principales</p>

    <div class="flex gap-5">
      <button
        class="bg-green-600 text-center text-lg text-white rounded-md w-[6.25rem] h-[4.5rem]"
      >
        <img
          src="../assets/payments_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg"
          alt="paymentsIcon"
          class="ml-10"
        />Abonar
      </button>

      <button
        class="bg-red-700 text-center text-lg text-white rounded-md w-[6.25rem] h-[4.5rem]"
      >
        <img
          src="../assets/payments_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg"
          alt="paymentsIcon"
          class="ml-10"
        />Retirar
      </button>
    </div>

    <input type="number" placeholder="Ingrese el saldo" />
  </div>
</body>
