<div class="flex justify-center items-center flex-col gap-16 w-full h-[90vh]">
  <div
    class="bg-[#FFFFFF] p-[2.5rem] flex justify-center items-center flex-col gap-10 rounded-xl"
  >
    <div class="flex gap-[6.25rem]">
      <div class="flex flex-col gap-7">
        <button
          (click)="money = 10000"
          class="bg-[#FF5E6D] p-3 rounded-lg text-[#fff] font-bold text-xl focus:bg-blue-500"
        >
          10.000
        </button>
        <button
          (click)="money = 20000"
          class="bg-[#FF5E6D] p-3 rounded-lg text-[#fff] font-bold text-xl focus:bg-blue-500"
        >
          20.000
        </button>
        <button
          (click)="money = 50000"
          class="bg-[#FF5E6D] p-3 rounded-lg text-[#fff] font-bold text-xl focus:bg-blue-500"
        >
          50.000
        </button>
        <button
          (click)="money = 100000"
          class="bg-[#FF5E6D] p-3 rounded-lg text-[#fff] font-bold text-xl focus:bg-blue-500"
        >
          100.000
        </button>
      </div>
      <div class="flex flex-col gap-7">
        <button
          (click)="money = 200000"
          class="bg-[#FF5E6D] p-3 rounded-lg text-[#fff] font-bold text-xl focus:bg-blue-500"
        >
          200.000
        </button>
        <button
          (click)="money = 500000"
          class="bg-[#FF5E6D] p-3 rounded-lg text-[#fff] font-bold text-xl focus:bg-blue-500"
        >
          500.000
        </button>
        <button
          (click)="money = 600000"
          class="bg-[#FF5E6D] p-3 rounded-lg text-[#fff] font-bold text-xl focus:bg-blue-500"
        >
          600.000
        </button>
        <button
        (click)="money = 1"
          class="bg-[#FF5E6D] p-3 rounded-lg text-[#fff] font-bold text-xl focus:bg-blue-500"
        >
          Otro
        </button>
      </div>
    </div>

    <div class="flex gap-16">
      <button
        class="border border-[#022a9b] text-center text-2xl text-[#022a9b] rounded-md h-[3.125rem] w-[8.125rem]"
        (click)="close()"
      >
        Cancelar
      </button>

      <button
        class="bg-[#022a9b] text-center text-2xl font-bold text-[#FFFFFF] rounded-md h-[3.125rem] w-[8.125rem]"
        (click)="accesconfirm(true)"
      >
        Aceptar
      </button>
    </div>
  </div>

  <app-confirm-page
    *ngIf="confirmpage"
    (changeState)="accesconfirm($event)"
    class="absolute inset-0 bg-white bg-opacity-50 backdrop-blur-lg z-20"
  />

  <app-other-option-page
  *ngIf="otherOptionPage"
  (changeState)="accesconfirm($event)"
  class="absolute inset-0 bg-white bg-opacity-50 backdrop-blur-lg z-20"/>
</div>
