<!-- Vista de inicio -->
<body class="flex flex-col justify-center items-center h-[90vh] p-2">
  <div class="flex flex-col justify-center items-center" *ngIf="home">
    <div>
      <img
        class="w-[20.75rem] h-[19.75rem] absolute -z-10"
        src="../assets/LogoInicioFondo.png"
        alt="ImagenDeInicioFondo"
      />
      <img
        class="w-[20.75rem] h-[20.75rem] z-10 relative"
        src="../assets/LogoInicio.png"
        alt="ImagenDeInicio"
      />
    </div>

    <p class="text-[#000] text-2xl mt-10">Lo hacemos fácil para ti.</p>
    <p class="text-[#000] text-2xl text-center">
      Tu dinero y movimientos seguros con tu cuenta
      <span class="text-[#022a9b] font-bold">FinanceFlow</span>
    </p>
    <button
      (click)="access()"
      class="bg-[#022a9b] text-white font-bold text-lg p-3 mt-12 w-[18.75rem] border rounded-3xl"
    >
      Acceder
    </button>
  </div>

  <app-login-page *ngIf="login"/>
</body>
